[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = { extras = ["standard"]  }
pydantic = "*"
requests = "*"
beautifulsoup4 = "*"
cinemagoer = {editable = true, git = "https://github.com/cinemagoer/cinemagoer"}
beanie = "*"
motor = "*"
pymongo = { extras = ["srv"]  }
dnspython = "*"
jinja2 = "*"
apscheduler = "*"
python-dateutil = "*"
bencodepy = "*"
pydantic-settings = "*"
pycryptodome = "*"
pillow = "*"
httpx = "*"
uvloop = {  markers = "sys_platform != 'win32'" }
thefuzz = "*"
pikpakapi = {git = "git+https://github.com/mhdzumair/PikPakAPI.git"}
diskcache = "*"
demagnetize = "*"
redis = {extras = ["hiredis"] }
dramatiq = {extras = ["redis", "watch"] }
gunicorn = "*"
scrapy = "*"
aioqbt = {git = "git+https://github.com/mhdzumair/aioqbt.git"}
aiowebdav = "*"
m3u-ipytv = "*"
python-multipart = "*"
prometheus-client = "*"
curl-cffi = "*"
pyasynctracker = "*"
humanize = {git = "git+https://github.com/python-humanize/humanize.git"}
scrapy-playwright = "*"
cinemagoerng = {git = "git+https://github.com/mhdzumair/cinemagoerng.git"}
tqdm = "*"
parsett = "*"
tenacity = "*"
ratelimit = "*"
qrcode = "*"
scrapeops-scrapy = "*"
scrapeops-python-requests = "*"
aioseedrcc = "*"

[dev-packages]
pysocks = "*"
requests-cache = "*"
kodistubs = "*"

[requires]
python_version = "3.12"
