[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = { extras = ["standard"], version = "*" }
pydantic = "*"
requests = "*"
beautifulsoup4 = "*"
cinemagoer = {editable = true, git = "https://github.com/cinemagoer/cinemagoer"}
beanie = "*"
motor = "*"
pymongo = { extras = ["srv"], version = "*" }
dnspython = "*"
jinja2 = "*"
apscheduler = "*"
python-dateutil = "*"
bencodepy = "*"
pydantic-settings = "*"
pycryptodome = "*"
seedrcc = "*"
pillow = "*"
httpx = "*"
uvloop = { version = "*", markers = "sys_platform != 'win32'" }
thefuzz = "*"
pikpakapi = {git = "git+https://github.com/mhdzumair/PikPakAPI.git"}
diskcache = "*"
demagnetize = "*"
redis = {extras = ["hiredis"], version = "*"}
dramatiq = {extras = ["redis", "watch"], version = "*"}
gunicorn = "*"
scrapy = "*"
aioqbt = {git = "git+https://github.com/mhdzumair/aioqbt.git"}
aiowebdav = "*"
m3u-ipytv = "*"
python-multipart = "*"
prometheus-client = "*"
curl-cffi = "*"
pyasynctracker = "*"
humanize = {git = "git+https://github.com/python-humanize/humanize.git"}
scrapy-playwright = "*"
cinemagoerng = {git = "git+https://github.com/mhdzumair/cinemagoerng.git"}
tqdm = "*"
parsett = {git = "git+https://github.com/mhdzumair/PTT"}

[dev-packages]
pysocks = "*"

[requires]
python_version = "3.11"
