[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = { extras = ["standard"], version = "*" }
pydantic = "*"
requests = "*"
beautifulsoup4 = "*"
cinemagoer = {editable = true, git = "https://github.com/cinemagoer/cinemagoer"}
cloudscraper = "*"
beanie = "*"
motor = "*"
pymongo = { extras = ["srv"], version = "*" }
dnspython = "*"
jinja2 = "*"
apscheduler = "*"
python-dateutil = "*"
bencodepy = "*"
pydantic-settings = "*"
pycryptodome = "*"
seedrcc = "*"
pillow = "*"
httpx = "*"
uvloop = { version = "*", markers = "sys_platform != 'win32'" }
thefuzz = "*"
playwright = "==1.38.0"
playwright-stealth = "*"
pikpakapi = {git = "git+https://github.com/mhdzumair/PikPakAPI.git"}
parse-torrent-title = {git = "git+https://github.com/mhdzumair/parse-torrent-title"}
diskcache = "*"
demagnetize = "*"

[dev-packages]
pysocks = "*"

[requires]
python_version = "3.11"
