HOST_URL="https://mediafusion.local"
MONGO_URI="mongodb://mongodb:27017/mediafusion"
REDIS_URL="redis://redis:6379"
PROWLARR_URL="http://prowlarr:9696"
PROWLARR_API_KEY=
PROWLARR_IMMEDIATE_MAX_PROCESS=5
PROWLARR_IMMEDIATE_MAX_PROCESS_TIME=15
PROWLARR_SEARCH_INTERVAL_HOUR="24"
IS_SCRAP_FROM_TORRENTIO="false"
ENABLE_RATE_LIMIT="false"
ENABLE_TAMILMV_SEARCH_SCRAPER="false"
