HOST_URL="https://mediafusion.local"
POSTER_HOST_URL="https://mediafusion.local"
MONGO_URI="mongodb://mongodb:27017/mediafusion"
REDIS_URL="redis://redis:6379"
PROWLARR_URL="http://prowlarr:9696"
PROWLARR_IMMEDIATE_MAX_PROCESS=30
PROWLARR_IMMEDIATE_MAX_PROCESS_TIME=30
PROWLARR_SEARCH_INTERVAL_HOUR="24"
prowlarr_live_title_search="true"
IS_SCRAP_FROM_TORRENTIO="true"
ENABLE_RATE_LIMIT="false"
is_scrap_from_mediafusion="true"
is_scrap_from_zilean="true"